body{
  background-color: #343a40;
}
.bg-image {
background-image: url('Imagenes/fondo.png');
background-size: cover;
background-attachment: fixed;
opacity: 25%;
height: 100vh;
}
#tab{
opacity: 100% !important;
}