body{
  background-color: #343a40;
}
.bg-image{
background-image: url('Imagenes/fondo.png');
background-size: cover;
background-attachment: fixed;
opacity: 0.25;
height: 100vh;

}
.img-fluid img{
  opacity: 1 !important;
}